# Working with tables in pandas

Load a csv file from disc and show it

In [1]:
import pandas as pd

data_frame = pd.read_csv("Measurements_ImageJ.csv", delimiter=',')

# show it
data_frame

      Area     Mean  Circ.      AR  Round  Solidity
0  1  2610   96.920  0.773   1.289  0.776       1.0
1  2  2100   90.114  0.660   2.333  0.429       1.0
2  3    27  110.222  0.108  27.000  0.037       1.0

Take a column out of the table

In [3]:
data_frame["Round"]

0    0.776
1    0.429
2    0.037
Name: Round, dtype: float64

In [11]:
data_frame["Mean"]

0     96.920
1     90.114
2    110.222
Name: Mean, dtype: float64

Determine the mean of a column

In [15]:
import numpy as np
np.mean(data_frame["Mean"])

99.08533333333332

Read out one particular cell of the table

In [12]:
data_frame["Mean"][0]

1.2890000000000001

Iterate with a for loop over all cells in a column

In [13]:
for mean_intensity in data_frame["Mean"]:
    print(mean_intensity)

96.92
90.11399999999999
110.22200000000001

Make a new table from scratch

In [18]:
header = ['A', 'B', 'C']

data = [
    [1, 2, 3],  # this will later be colum A
    [4, 5, 6],  #                          B
    [7, 8, 9]   #                          C
]

# convert the data and header arrays in a pandas data frame
data_frame = pd.DataFrame(data, header)

# show it
data_frame

   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

In [19]:
# rotate/flip it
data_frame = data_frame.transpose()

# show it
data_frame

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [20]:
# save a dataframe to a CSV
data_frame.to_csv("output.csv")