# Dictionaries
Dictionaries are data structures that hold key-value pairs, written as `key:value`. 

See also
* [Dictionaries in python](https://www.w3schools.com/python/python_dictionaries.asp)
* [Dictionary keys as list](https://stackoverflow.com/questions/16819222/how-to-return-dictionary-keys-as-a-list-in-python)

You can define dictionary like this:

In [1]:
german_english_dictionary = {'Vorlesung':'Lecture', 'Gleichung':'Equation'}

For readers convenience, consider writing them like this:

In [2]:
german_english_dictionary = {
    'Vorlesung':'Lecture', 
    'Gleichung':'Equation'
}

In [3]:
german_english_dictionary

{'Vorlesung': 'Lecture', 'Gleichung': 'Equation'}

If you want to access a given entry in the dictionary, you can address it using square brackets and the key:

In [4]:
german_english_dictionary['Vorlesung']

'Lecture'

You can add elements to the dictionary:

In [5]:
german_english_dictionary['Tag'] = 'Day'

In [6]:
german_english_dictionary

{'Vorlesung': 'Lecture', 'Gleichung': 'Equation', 'Tag': 'Day'}

You can also retrieve a list of all keys in the dictionary:

In [7]:
keys = list(german_english_dictionary.keys())

In [8]:
keys

['Vorlesung', 'Gleichung', 'Tag']

In [9]:
keys[1]

'Gleichung'

# Tables
Tables *can* be expressed as dictionaries with arrays as elements.

In [10]:
measurements_week = {
    'Monday':   [2.3, 3.1, 5.6],
    'Tuesday':  [1.8, 7.0, 4.3],
    'Wednesday':[4.5, 1.5, 3.2],
    'Thursday': [1.9, 2.0, 6.4],
    'Friday':   [4.4, 2.3, 5.4]
}

In [11]:
measurements_week

{'Monday': [2.3, 3.1, 5.6],
 'Tuesday': [1.8, 7.0, 4.3],
 'Wednesday': [4.5, 1.5, 3.2],
 'Thursday': [1.9, 2.0, 6.4],
 'Friday': [4.4, 2.3, 5.4]}

In [12]:
measurements_week['Monday']

[2.3, 3.1, 5.6]

Using the [pandas](https://pandas.pydata.org/) library, you can visualize tables nicely.

In [13]:
import pandas

pandas.DataFrame(measurements_week)

   Monday  Tuesday  Wednesday  Thursday  Friday
0     2.3      1.8        4.5       1.9     4.4
1     3.1      7.0        1.5       2.0     2.3
2     5.6      4.3        3.2       6.4     5.4

You can also store variables in such _tables_:

In [14]:
width1 = 5
height1 = 3

width2 = 2
height2 = 4

area1 = width1 * height1
area2 = width2 * height2

rectangles = {
    "width": [width1, width2],
    "height": [height1, height2],
    "area": [area1, area2]
}

In [15]:
rectangles

{'width': [5, 2], 'height': [3, 4], 'area': [15, 8]}

In [16]:
pandas.DataFrame(rectangles)

   width  height  area
0      5       3    15
1      2       4     8

# Exercise
You just measured the radius of three [circles](https://en.wikipedia.org/wiki/Circle). Write them into a table and add a column with corresponding circle area measurements.

In [17]:
r1 = 12
r2 = 8
r3 = 15

What is the datatype of `measurements_week`?

What is the datatype of `measurements_week['Monday']`?